body{

    background-color: white;
    font-family: sans serif;
    margin: 0%;

    }


header{
        
    display:flex;
    flex-direction:row;
    margin:0%;
    width: 100%;

    }

.img1{

    width: 7.3%;
        
    }

.colo1{

    display: flex; 
    flex-direction: column; 
    justify-content: center;
    /* width: 90%; */
    /* padding-left: 5%; */
    padding-top: 1%;
    padding-bottom: 1%;

    }

.button1{

    padding: 0.3rem;
    background-color: darkslategray;
    display: inline-block;
    color: white;
    
     }

#text1{

    font-size: 20%;

    }

#entete{

    font-size: 90%;

    }

#logo1{ 
        
    width: 100%;

    }

/*.hero*/

#hero{

    height: 67vh;
    background-image: url("./assets/UPSMHUBWNVAAPFQWXQPDGWNOAU.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.6rem;

    }


#centre{

    background-color: darkslategrey;

    }
    
#text2{

    font-size: 29px;
    color: darkolivegreen;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;

    }

#emplois{

    font-size: 18px;
    color: white;
    text-align: left;
    margin-left: 20%;

    }
    
#ligne1{

    /* display: flex; */
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    /* display: flex; */
    /* display: inline-block; */
    /* float:right; */
    /* text-align: center; */

    }

#aero{

    font-size: 20px;
    color: white;
    /* text-align: left; */
    margin-left: 20%;
    /* margin-right: 3%; */
    /* display: flex; */

    }

#notif{

    font-size: 18px;
    color: darkolivegreen;

    }

.defile{

    display: flex; 
    /* flex-direction: row; */
    /* display:inline-flex; */
    /* width: 100%; */
    overflow:auto;
    padding: 1%;


    }

.defile div{

    width: 100%;
    padding: 0.5%;
    margin: 0.5%;
    background-color: gray;

    }


.img2 {

    height: 95vh;
    background-image: url(assets/armée-de-terre-equipement-combattant-2020_14690x6000_Light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.6rem;

}

.img2 a {

    text-decoration: none;
    text-decoration-color: white;
    color: white;
    display: flex;
    justify-content: right;
    font-size:40%;
    
}

.img2 .commando {

    position: absolute;
    padding-left: 50%;
    left: 0;
    margin-top: 45px;
    /*bottom: 0;

    /*display: flex;
    justify-content: right;*/

}

.img2 a .commando .button2 {

    background-color: rgb(255, 255, 255);
    /*border-bottom-color: rgb(69, 77, 77);*/
    cursor:default;
    display: inline-block;
    padding: 0.75em 1em;
    /*box-sizing: border-box;*/
    transition-property: all;
    will-change: auto;
    font-weight: 700;
    border-style: none;
    

}



